.contacts {
   padding: 3rem 2rem;
   background-color: $bg-color;
   h2,
   h3 {
      text-align: center;
   }
   &__wrap {
      margin-top: 3rem;
      display: grid;
      grid-template: 1fr/1fr 1fr;
      gap: 2rem;
   }
   ul {
      margin: 2rem auto 0 auto;
      height: 5rem;
      display: flex;
      list-style-type: none;
      li {
         margin-right: 3%;

         img {
            height: 3rem;
         }
         &:after {
            display: block;
            position: relative;
            content: "";
            top: 0.8rem;
            left: 0.4rem;
            width: 2.2rem;
            height: 0.3rem;
            border-radius: 50%;
            background-color: $main-text-color;
            box-shadow: (0 0 0.2rem 0.2rem $main-text-color);
            opacity: 0;
         }
         &:hover:after {
            opacity: 1;
            transition: 2s;
         }
      }
   }
   &__logo {
      height: 10rem;
      img {
         height: 100%;
      }
   }
   &__form-subgrid {
      position: relative;
      margin-top: 2rem;
      display: grid;
      grid-template: 1fr/1fr 1fr;
      gap: 1rem;
   }

   &__subinput {
      margin-bottom: 1rem;
      input {
         height: 2rem;
         width: 100%;
         padding: 0 0.5rem;
         font-size: 0.8rem;
         border: 2px solid #ccc;
      }
   }
   .form__error {
      color: red;
      text-align: left;
      font-size: 0.7rem;
      display: block;
      margin-top: 3px;
      display: none;
   }
   input:valid:not(:placeholder-shown) {
      border-color: green;
   }

   input:invalid:not(:placeholder-shown) {
      border-color: red;
   }
   input:invalid:not(:placeholder-shown) + .form__error {
      display: block;
   }
   &__textarea {
      position: relative;
      textarea {
         height: 5rem;
         width: 100%;
         padding: 0.5rem;
         font-size: 0.8rem;
         border: 2px solid #ccc;
      }
   }
}
