.contacts {
   padding: 3rem 2rem;
   background-color: $bg-color;
   h2,
   h3 {
      text-align: center;
   }
   &__wrap {
      margin-top: 3rem;
      display: grid;
      grid-template: 1fr/1fr 1fr;
      gap: 2rem;
   }
   a {
      img {
         margin: 2rem 1rem;
         max-height: 3rem;
      }
   }
   &__form-subgrid {
      position: relative;
      margin-top: 2rem;
      display: grid;
      grid-template: 1fr/1fr 1fr;
      gap: 1rem;
   }
   &__subinput {
      input {
         height: 2rem;
         width: 100%;
         padding: 0 0.5rem;
         font-size: 0.8rem;
      }
      label {
         position: relative;
         top: -44%;
         left: 3%;
         opacity: 0.7;
      }
      input:focus ~ label,
      label:active {
         top: -80%;
         opacity: 1;
         color: $main-color;
         background-color: $bg-color;
         font-size: 0.8rem;
         transition: 0.5s;
      }
   }
   &__textarea {
      position: relative;
      textarea {
         height: 5rem;
         width: 100%;
         padding: 0.5rem;
         font-size: 0.8rem;
      }
      label {
         position: absolute;
         top: 8%;
         left: 2%;
         opacity: 0.7;
      }
      textarea:focus ~ label,
      label:active {
         top: -17%;
         opacity: 1;
         color: $main-color;
         background-color: $bg-color;
         font-size: 0.8rem;
         transition: 0.5s;
      }
   }
}
