.header {
   min-height: 100vh;
   background: url("../../img/home_bg.JPG") top center/cover no-repeat;
   color: #fff;
   padding: 10rem 1rem;
   h1 {
      @include h1-style;
   }
   h2 {
      @include h2-style;
   }

   ul {
      margin: 2rem auto;
      height: 5rem;
      display: flex;
      list-style-type: none;
      li {
         margin-right: 3%;

         img {
            height: 3rem;
         }
         &:after {
            display: block;
            position: relative;
            content: "";
            top: 0.8rem;
            left: 0.4rem;
            width: 2.2rem;
            height: 0.3rem;
            border-radius: 50%;
            background-color: $main-text-color;
            box-shadow: (0 0 0.2rem 0.2rem $main-text-color);
            opacity: 0;
         }
         &:hover:after {
            opacity: 1;
            transition: 2s;
         }
      }
   }
}
