.screen {
   max-width: 500px;
   font: 16px/140% "Courier New", Courier, Arial;
   padding: 20px;
   background: black;
   color: lime;
   white-space: pre-wrap;
}
.screen span {
   visibility: hidden;
}
.screen span.visible {
   visibility: visible;
}
.screen span.cursor {
   background: lime;
   animation: blinking 0.5s step-start infinite;
}

@keyframes blinking {
   50% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}
